{% from "renderfield.html" import render_field %}
{% extends "loginregisterlayout.html"%}
{% block content %}
<p style=" margin: 20px auto; text-align:center;">
        <a href="{{ url_for('main.home') }}" style="color:black;">Home</a> 
        &nbsp; &nbsp; &nbsp; 
        <a href="{{url_for('users.register')}}" class="signinup"><i class="fa fa-sign-in" aria-hidden="true"> </i> Register</a>
     </p>
<div class="container formcontainer">
        <div class="loginheading">
            <h3>Login</h3>
            <p class="text-muted">Fill You Account Details</p>
        </div>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ render_field(form.email,"Enter Your Email", true) }}
        
        {{ render_field(form.password,"Enter your Password")}}
        
        <div class="form-group">
            {{ form.remember()}}
            {{ form.remember.label(class="ml-2") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="custom_btn")}}
        </div>
    </form>
</div>
{% endblock content %}


