{% from "renderfield.html" import render_field, render_doublefield %}
{% extends "loginregisterlayout.html"%}
{% block content %}
<p style=" margin: 20px auto; text-align:center;">
        <a href="{{ url_for('main.home') }}">Home</a> 
        &nbsp; &nbsp; &nbsp; 
        <a href="{{url_for('users.login')}}" class="signinup"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign in</a>
     </p>
<div class="container formcontainer">
    <div class="loginheading">
        <h3>Registeration</h3>
        <p class="text-muted">Create Your Free Account</p>
    </div>
    <form action="" method="POST">
        {{form.hidden_tag()}}
        {{ render_doublefield(form.firstname,form.lastname,"First Name","Last Name") }}
        
        {{ render_field(form.email, "xyz@mail.com") }}
        
        {{ render_field(form.password, "8 characters or more") }}

        {{ render_field(form.confirm_password, "Confirm Password") }}
        <div class="form-group">
            {{ form.submit(class="custom_btn")}}
        </div>
    </form>
</div>
{% endblock content %}


