{% from "renderfield.html" import render_field, render_doublefield %}
{% extends "loginregisterlayout.html"%}
{% block content %}
<div class=" container formcontainer">
        <div class="loginheading">
            <h1>Register</h1>
            <p>Please Enter your New Account details</p>
        </div>
    <form action="" method="POST">
        {{form.hidden_tag()}}
        {{ render_doublefield(form.firstname,form.lastname,"First Name","Last Name") }}
        
        {{ render_field(form.email, "Enter your Email") }}
        
        {{ render_field(form.password, "Enter your Password") }}

        {{ render_field(form.confirm_password, "Confirm Password") }}
        <div class="form-group">
            {{ form.submit(class="btn", style="background-color: #75ff9b;")}}
        </div>
        <div class="form-group">
            <p class="text-muted mt-3">I have an Account! <a href="{{url_for('users.login')}}">SignIn</a></p>
        </div>
    </form>
</div>
{% endblock content %}


