{% from "renderfield.html" import render_field, render_doublefield %}
{% extends "layout.html"%}
{% block content %}
<div class="container">
    <div class="container-fluid">
        <button style="width:50px;" class=" btn btn-light float-left" onclick="window.history.back()">
            <img src="{{ url_for('static', filename='images/back.png') }}" alt="Back" />
        </button> 
        <h2 style="margin-bottom:30px;">New Company</h2>
    <form style="max-width:600px; margin:0 auto;" action="", method="POST">
            {{form.hidden_tag()}}
            {{ form.csrf_token}}
            {{ render_doublefield(form.name,form.mailingname,"Name","Mailing Name") }}

            {{ render_field(form.address, "Address") }}
            

        {{ render_doublefield(form.state,form.country,"State","") }}

        {{ render_doublefield(form.pin,form.phone,"PIN","Contact No.") }}

        {{ render_doublefield(form.email,form.website,"Company Email ID","Company Website") }}

            {{ render_doublefield(form.financialyear,form.booksbegin) }}

            {{ render_field(form.gstno) }}

            {{ render_field(form.description) }}

            <div class="form-group">
                {{ form.submit(class="btn", style="background-color: #75ff9b;")}}
            </div>
        </div>

    </form>
</div>
</div>
<script>
    $('#mailingname').focus(()=>{
        $('#mailingname').val($('#name').val());
    })
    
</script>


{% endblock content %}