{% extends "layout.html"%}
{% block content %}


<div class="container">
    <div class="container-fluid">
        <h2 class="float-left">Companies</h2>
        <ul class="nav justify-content-end">
            <li data-step="1" data-intro="First add a Company" class="btn btn-success float-right">
                <a class="nav-link" href="{{ url_for('company.addcompany') }}">Add Company</a>
            </li>
        </ul>
    </div>

    <div data-step="3" data-intro="Click on Company name to Activate Company" class="container-fluid" style="border:1px solid rgb(218, 218, 218); border-radius:10px;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for company in companies %}
                <tr>
                    {% if company.id != activecomp.id %}
                    <th scope="row"> <a href="{{url_for('company.activatecompany', compid= company.id) }}"
                            style="color:rgb(41, 41, 41); display:block;">{{company.companyname }}</a> </th>
                    <td>{{ company.email }}</td>
                    <td>{{ company.address }}</td>
                    <td>{{ company.description }}</td>
                    <td></td>
                    {% else %}
                    <th scope="row" style="text-transform:uppercase;"> {{company.companyname }}</th>
                    <td>{{ company.email }}</td>
                    <td>{{ company.address }}</td>
                    <td>{{ company.description }}</td>
                    <td>
                        <a href="{{ url_for('company.showcompany', compid = company.id) }}">
                            <img src="{{ url_for('static',filename='images/setting.png') }}" alt="Setting">
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

    </div>

    <a id="gettour" hidden href="javascript:introJs().setOption('showProgress', true).start();" >get tour</a>
</div>

    {%if activecomp %}
    {%else%}
    <script>
        document.getElementById('gettour').click();
    </script>
    {%endif%}
</script>
{% endblock content %}