{% extends "layout.html"%}
{% block content %}
<div class="modal fade" id="deletecustomer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                All the related transactions and other data will also be deleted.
                And it won't be recovered.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('customers.deletecustomer', customer_id=customer.id) }}" , method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container mt-4">
    <button style="width:50px;" class=" btn btn-light float-left" onclick="window.history.back()">
        <img src="{{ url_for('static', filename='images/back.png') }}" alt="Back" />
    </button> 
    <h2 class="mb-4">{{ customer.name }} Details</h2>
    <table class="table table-sm">
        <tbody>
            <tr>
                <td>&Tab;</td>
                <td class="h5">Customer Company</td>
                <td id="setcountry"></td>
            </tr>
            <tr>
                <td>&Tab;</td>
                <td class="h5">Mailing Name</td>
                <td>{{customer.mailingname}}</td>
            </tr>
            <tr>
                <td>&Tab;</td>
                <td class="h5"> First Name </td>
                <td>{{customer.first}}</td>
            </tr>
            <tr>
                <td>&Tab;</td>
                <td class="h5"> Last Name </td>
                <td>{{customer.last}}</td>
            </tr>
            <tr>
                <td>&Tab;</td>
                <td class="h5"> Opening Balance </td>
                <td>{{customer.openingbalance}}</td>
            </tr>
            <tr>
                <td>&Tab;</td>
                <td class="h5"> Current Balance </td>
                <td>{{customer.currentbalance}}</td>
            </tr>
            <tr>
                <td>&Tab;</td>
                <td class="h5"> Address</td>
                <td>{{customer.address}}</td>
            </tr>
            <tr>
                <td>&Tab;</td>
                <td class="h5"> State</td>
                <td>{{customer.state}}</td>
            </tr>
            <tr>
                <td>&Tab;</td>
                <td class="h5">Country </td>
                <td>{{customer.country}}</td>
            </tr>
            <tr>
                <td>&Tab;</td>
                <td class="h5"> PIN</td>
                <td>{{customer.pin}}</td>
            </tr>
            <tr>
                <td>&Tab;</td>
                <td class="h5">Email </td>
                <td>{{customer.email}}</td>
            </tr>
            <tr>
                <td>&Tab;</td>
                <td class="h5"> Phone Number</td>
                <td>{{customer.phoneno}}</td>
            </tr>
            <tr>
                <td>&Tab;</td>
                <td class="h5"> GST Number</td>
                <td>{{customer.gstno}}</td>
            </tr>
            <tr>
                <td>&Tab;</td>
                <td class="h5"> Description</td>
                <td>{{customer.description}}</td>
            </tr>
            
        </tbody>
    </table>

    <table class="mt-4">
        <tbody>
            <tr>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletecustomer">
                        <img src="{{ url_for('static',filename='images/delete.png') }}" alt="Delete"> Delete
                    </button>
                </td>
                <td>
                    <a type="button" class="btn btn-light" href="{{ url_for('customers.updatecustomer', customer_id = customer.id) }}"><img
                            src="{{ url_for('static',filename='images/update.png') }}" alt="Delete"> Update
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<script>
    $("#setcountry").text(localStorage.getItem('companyname'));
</script>


{% endblock content %}