
/* LOGIN REGISTER FORM STYLING */

#loginform{
  position: absolute;
  overflow: hidden;
  display: block;
    height: 100vh !important;
    width: 100vw !important;
  }
  
#loginform .row .col-lg-7 {
    background-color: rgb(0, 76, 77);
    padding: 30px 150px;
  }
  
  .btn {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  
  .formcontainer {
    width: 60%;
    height: 45vh;
    min-width: 400px;
    margin: 250px auto;
  }
  
  .loginheading {
    position: absolute;
    top: 140px;
  }
  
  @media only screen and (max-width: 990px) {
    .mediumdisable {
      display: none;
    }
  }

/* LOGIN REGISTER FORM DESIGN ENDS HERE */




/* DROPDOWN NAVIGATION STYLING  */

/* .dropdown{
  transition: 500ms;
} */

.dropdown ::after {
  display: none !important;
}

.navbar-brand {
  border: 1px solid rgba(83, 83, 83, 0.8);
  border-radius: 30px;
  padding: 0 1.5rem;
  font-size: 25px;
}

.navbar-brand:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.nav-item {
  display: block;
  padding-right: .5rem;
  margin: 10px 0;
}

.navbar-nav {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.nav-link {
  color: rgba(12, 12, 12, 0.76);
  padding: .5rem !important;
}

.nav-link:hover {
  color: black;
}

.dropdown-item {
  padding: .5rem !important;
  padding-left: 1rem !important;
}

.dropdown-item:hover {
  /* background-color: #ffffff00 !important; */
  color: black !important;
}

.dropdown-menu {
  position: absolute !important;
}


/* DROPDOWN NAVIGATION STYLING ENDS HERE */






.btn {
  margin: 0 .7rem;
}

.container-fluid {
  margin-top: 30px !important;
}

.autocomplete {
  position: relative !important;
  display: inline-block;
}

.autocomplete-items {
  overflow: scroll;
  max-height: 300px;
  position: absolute;
  border: 2px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

/* .autocomplete-items::before{
  display: block;
  content: "+ Add New Customer";
  background-color: rgb(231, 231, 231);
  height: 40px;
  text-align: center;
  padding-top: 5px;
} */

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #70d686;
}

.autocomplete-active {
  background-color: #33da5d !important;
  color: #ffffff;
}

#producthead {
  background-color: #d1d1d1;
}

#producthead > row > col {
  margin: 15px;
}




/* HOME PAGE STYLING  */

.tophead{
  background-image: url("./images/topheadback.jpg");
  background-position: 0 60%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

.tophead > div > nav {
  background-color: #ffffff00 !important;
  text-shadow: 0px 3px 6px #f0f0f0;
}

.logo {
  border: none !important;
}

.mainhead {
  margin-top: 150px;
  margin-bottom: 60px;
  text-align: center;
  text-shadow: 0px 3px 6px #f0f0f0;
}

.mainhead > .display {
  font-size: 40px;
  margin-bottom: 30px;
}

.mainhead > span {
  color: #000000;
}

.card {
  border: none !important;
}

.card-img-top {
  width: 150px !important;
}

.modal-backdrop {
  z-index: -10;
}
.modal-dialog{
  top: 20px;
}

  /*# sourceMappingURL=style.css.map */