{% extends "layout.html"%}
{% block content %}

<div class="container">
    <div class="container-fluid">
        <h2 class="float-left">Invoices</h2>
        <ul class="nav justify-content-end">
            <li class="btn color float-right">
                <a class="nav-link" href="{{ url_for('transactions.createinvoice') }}">Create Invoice</a>
            </li>
        </ul>
    </div>

    <div class="container-fluid" style="border:1px solid rgb(218, 218, 218); border-radius:10px;">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th scope="col">Date & Time</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales.items %}
                <tr>
                    <!-- <th scope="row">{{sale.date.day}} / {{sale.date.month}} / {{sale.date.year }}</th> -->
                    <th> {{sale.date}}</th>
                    <td>{{ sale.customer }}</td>
                    <td>{{ sale.totalamount }}</td>
                    <td>
                        <a href="{{url_for('transactions.invoice_detail', invoice_id = sale.id)}}">
                        <img src="{{ url_for('static',filename='images/setting.png') }}" alt="Setting">
                        </a>
                    </td>
                {% endfor %}
            </tbody>
        </table>
            {% for page_num in sales.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if sales.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{url_for('transactions.invoice', page=page_num)}}">{{ page_num }}</a>
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{url_for('transactions.invoice', page=page_num)}}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}

    </div>
</div>

{% endblock content %}