{% from "renderfield.html" import render_field, render_doublefield %}
{% extends "layout.html"%}
{% block content %}

<div class="modal fade" id="createledger" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Ledger</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{form.hidden_tag()}} 
                    {{ render_field(form.name, "Ledger Name") }}
                    
                    {{ render_field(form.under,"") }}

                    <div class="form-group">
                        {{ form.affectinventory()}}
                        {{ form.affectinventory.label(class="ml-2") }}
                    </div>

                    <div class="form-group">
                        {{ form.submit(class="btn mt-3", style="background-color: #75ff9b;")}}
                    </div>
                  </form>
            </div>
            
        </div>
    </div>
</div>

<div class="modal fade" id="deleteledger" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Ledger</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you Sure!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form id="deleteform" action="" , method="POST">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="container-fluid">
        <h2 class="float-left">Ledgers</h2>
        <ul class="nav justify-content-end">
            <li class="btn btn-success">
                <a class="nav-link" data-toggle="modal" data-target="#createledger">Add Ledger</a>
            </li>
        </ul>
    </div>

    <div class="container-fluid" style="border:1px solid rgb(218, 218, 218); border-radius:10px;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Under Group</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for ledger in ledgers %}
                <tr>
                    <th scope="row">#</th>
                    <td>{{ ledger.name }}</td>
                    <td>{{ ledger.undername }}</td>
                    <td>{{ ledger.affectinventory }}</td>
                    <td  class="deletelgr" >
                        <span style="display:none;">{{ url_for('groupledgers.deleteledger', ledger_id=ledger.id) }}</span>
                        <img style="cursor:pointer;" data-toggle="modal" data-target="#deleteledger" src="{{ url_for('static',filename='images/delete.png') }}" alt="Delete">
                    </td>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<script>
    var deletelgr = document.getElementsByClassName("deletelgr");
    for(let i=0; i<deletelgr.length; i++){
        deletelgr[i].lastElementChild.addEventListener("click",()=>{
            document.getElementById('deleteform').action = deletelgr[i].firstElementChild.textContent;
        })
    }
</script>

{% endblock content %}