{% from "renderfield.html" import render_field, render_doublefield %}
{% extends "layout.html"%}
{% block content %}

<div class="modal fade" id="creategroup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{form.hidden_tag()}} 
                    {{ render_field(form.name, "Group Name") }}
                    
                    {{ render_field(form.under,"") }}
                    <div class="form-group">
                        {{ form.submit(class="btn mt-3", style="background-color: #75ff9b;")}}
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deletegroup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you Sure!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form id="deleteform" action="" , method="POST">
                            <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="container-fluid">
        <h2 class="float-left">Groups</h2>
        <ul class="nav justify-content-end">
            <li class="btn btn-success">
                <a class="nav-link" data-toggle="modal" data-target="#creategroup">Add Group</a>
            </li>
        </ul>
    </div>

    <div class="container-fluid" style="border:1px solid rgb(218, 218, 218); border-radius:10px;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Under</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for group in fixedgroups %}
                <tr>
                    <th scope="row">{{group.id}}</th>
                    <td>{{ group.name }}</td>
                    <td>{{ group.under }}</td>
                    <td>
                        
                    </td>
                {% endfor %}
                {% for group in groups %}
                <tr>
                    <th scope="row">{{loop.index+24}}</th>
                    <td>{{ group.name }}</td>
                    <td>{{ group.under }}</td>
                    <td  class="deletegrp" >
                        <span style="display:none;">{{ url_for('groupledgers.deletegroup', group_id=group.id) }}</span>
                        <img style="cursor:pointer;" data-toggle="modal" data-target="#deletegroup" src="{{ url_for('static',filename='images/delete.png') }}" alt="Delete">
                    </td>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<script>
    var deletegrp = document.getElementsByClassName("deletegrp");
    for(let i=0; i<deletegrp.length; i++){
        deletegrp[i].lastElementChild.addEventListener("click",()=>{
            document.getElementById('deleteform').action = deletegrp[i].firstElementChild.textContent;
        })
    }
</script>

{% endblock content %}